<!-- template id="desktop-skeleton" -->
<div id="page">
    <h1 class="page-header">[[HYVES_HYBRID_DEMO_APPLICATION]]</h1>
    <div class="content js-container"></div>
</div>
<!-- /template id="desktop-skeleton" -->

<!-- template id="desktop-container" -->
<div id="${containerName}" class="stacked tile js-tile"></div>
<!-- /template id="desktop-container" -->

<!-- template id="mobile-skeleton" -->
<div id="page">
    <h1 class="page-header">[[HYBRID_DEMO_APP]]</h1>
    <div class="content js-container">
        <div class="tile js-tile"></div>
    </div>
</div>
<!-- /template id="mobile-skeleton" -->
